@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #5585b5;

  --second-bg-color: #53a8b6;

  --third-bg-color: #79c2d0;

  --fourth-bg-color: #bbe4e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "WorkSans";
}

body {
  background-color: var(--main-bg-color);
}

header {
  background-color: var(--main-bg-color);
  color: var(--fourth-bg-color);
  padding: 3vh 0;
}

.container-header {
  margin-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.logo-img {
  width: auto;
  height: 6vh;
}

.title-header {
  font-size: 2rem;
  font-family: "WorkSans";
}

.fechasContainer {
  background-color: var(--fourth-bg-color);
  display: flex;
  margin: 0;
}

.fechasContainer {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.container-6 {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
  margin: 1.5rem 2rem;
}

.containerDias {
  display: inline-flex;
  width: 50%;
  margin: 1.5rem 2rem;
}

.container-result {
  background-color: var(--second-bg-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 3rem;
}

.container-12 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

footer {
  text-align: center;
  background-color: var(--main-bg-color);
  color: white;
  padding: 3rem;
}

footer > a {
  color: aqua;
}

.formContainer {
  width: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.indicacionesContainer {
  display: flexbox;
  flex-direction: column;
  background-color: var(--main-bg-color);
  display: flex;
  width: 50%;
  padding: 2rem;
  gap: 1rem;
  color: white;
  border-radius: 10px;
}
